absl-py==2.3.1
anyio @ file:///croot/anyio_1729121277521/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///croot/argon2-cffi-bindings_1736182440035/work
asgiref==3.11.0
asttokens @ file:///croot/asttokens_1743630435401/work
astunparse==1.6.3
async-lru @ file:///work/perseverance-python-buildout/croot/async-lru_1701732681408/work
attrs @ file:///croot/attrs_1734533101012/work
babel @ file:///croot/babel_1737454360933/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1718029820055/work
bleach @ file:///croot/bleach_1732290411627/work
Brotli @ file:///croot/brotli-split_1736182456865/work
Cartopy==0.24.1
certifi @ file:///croot/certifi_1738623731865/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer==3.4.1
ckanapi==4.7
comm @ file:///croot/comm_1709322850197/work
contourpy==1.3.2
cycler==0.12.1
debugpy @ file:///croot/debugpy_1736267418885/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Django==6.0.1
docopt==0.6.2
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///croot/python-fastjsonschema_1731939362158/work
flatbuffers==25.2.10
fonttools==4.58.4
gast==0.6.0
google-pasta==0.2.0
grpcio==1.73.1
h11 @ file:///croot/h11_1706652277403/work
h5py==3.14.0
httpcore @ file:///croot/httpcore_1706728464539/work
httpx @ file:///croot/httpx_1723474802858/work
idna @ file:///croot/idna_1714398848350/work
ipykernel @ file:///croot/ipykernel_1737660677549/work
ipython @ file:///croot/ipython_1734548052611/work
jedi @ file:///croot/jedi_1733987392413/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
joblib==1.5.1
-e git+http://intranet.igp.gob.pe:8082/DATABASES/ckanext-jro/api-cliente@7969fa062c2fc1da28ef0f4bc836d96107cfc362#egg=jrodb
json5 @ file:///croot/json5_1730786798687/work
jsonschema @ file:///croot/jsonschema_1728486696720/work
jsonschema-specifications @ file:///work/perseverance-python-buildout/croot/jsonschema-specifications_1701731664072/work
jupyter-events @ file:///croot/jupyter_events_1741184577592/work
jupyter-lsp @ file:///work/perseverance-python-buildout/croot/jupyter-lsp-meta_1707343107456/work
jupyter_client @ file:///croot/jupyter_client_1737570961872/work
jupyter_core @ file:///croot/jupyter_core_1718818295206/work
jupyter_server @ file:///croot/jupyter_server_1741200034823/work
jupyter_server_terminals @ file:///work/perseverance-python-buildout/croot/jupyter_server_terminals_1701732095362/work
jupyterlab @ file:///croot/jupyterlab_1737555423487/work
jupyterlab_pygments @ file:///croot/jupyterlab_pygments_1741124142640/work
jupyterlab_server @ file:///croot/jupyterlab_server_1725865349919/work
keras==3.10.0
kiwisolver==1.4.8
libclang==18.1.1
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.3
matplotlib-inline @ file:///work/perseverance-python-buildout/croot/matplotlib-inline_1698864771271/work
mdurl==0.1.2
mistune @ file:///croot/mistune_1741124011532/work
ml_dtypes==0.5.1
namex==0.1.0
narwhals==1.43.1
nbclient @ file:///croot/nbclient_1741123995822/work
nbconvert @ file:///croot/nbconvert-meta_1741184653315/work
nbformat @ file:///croot/nbformat_1728049424075/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
notebook @ file:///croot/notebook_1738159946465/work
notebook_shim @ file:///croot/notebook-shim_1741707758683/work
numpy==2.1.3
opt_einsum==3.4.0
optree==0.16.0
overrides @ file:///work/perseverance-python-buildout/croot/overrides_1701732220415/work
packaging @ file:///croot/packaging_1734472117206/work
pandas==2.3.0
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///croot/parso_1733963305961/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pillow==11.2.1
platformdirs @ file:///work/perseverance-python-buildout/croot/platformdirs_1701732573265/work
plotly==6.1.2
prometheus_client @ file:///croot/prometheus_client_1731953121795/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
protobuf==5.29.5
psutil @ file:///croot/psutil_1736367091698/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments @ file:///work/perseverance-python-buildout/croot/pygments_1698846270603/work
pyparsing==3.2.3
pyproj==3.7.1
pyshp==2.3.1
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-json-logger @ file:///croot/python-json-logger_1734370021104/work
python-slugify==8.0.4
pytz==2025.2
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq @ file:///croot/pyzmq_1734687138743/work
referencing @ file:///work/perseverance-python-buildout/croot/referencing_1701731622327/work
requests @ file:///croot/requests_1730999120400/work
rfc3339-validator @ file:///work/perseverance-python-buildout/croot/rfc3339-validator_1698873973408/work
rfc3986-validator @ file:///work/perseverance-python-buildout/croot/rfc3986-validator_1698874010100/work
rich==14.0.0
rpds-py @ file:///croot/rpds-py_1736541261634/work
scikit-learn==1.7.0
scipy==1.16.0
seaborn==0.13.2
Send2Trash @ file:///croot/send2trash_1736540790175/work
setuptools==75.8.0
shapely==2.1.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio @ file:///croot/sniffio_1705431295498/work
soupsieve @ file:///work/perseverance-python-buildout/croot/soupsieve_1698866207280/work
sqlparse==0.5.5
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.1.0
terminado @ file:///work/perseverance-python-buildout/croot/terminado_1698874934826/work
text-unidecode==1.3
threadpoolctl==3.6.0
tinycss2 @ file:///croot/tinycss2_1738337643607/work
tornado @ file:///croot/tornado_1733960490606/work
tqdm==4.67.1
traitlets @ file:///croot/traitlets_1718227057033/work
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata==2025.2
urllib3 @ file:///croot/urllib3_1737133630106/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings @ file:///work/perseverance-python-buildout/croot/webencodings_1698866454420/work
websocket-client @ file:///croot/websocket-client_1715878298792/work
Werkzeug==3.1.3
wheel==0.45.1
wmm2020==1.1.1
wrapt==1.17.2
xarray==2025.7.1
